@font-face {
    font-family: "CoolFont";
    src: url("fonts/BabyBison-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #ece1ca;
    font-family: "CoolFont", sans-serif;
    font-size: 1.5em;
    margin: 0;
}

#contactBg {
    background: linear-gradient(#efcfa5, #dfd7c6);
}

#recipesBg {
    background: linear-gradient(#f8e4c5, #ffffff);
}

.card img {
    height: 200px;
    object-fit: cover;
}

.headerLink {
    font-size: 1.2em;
    transition: 0.6s;
}

.headerLink:hover {
    font-size: 1.4em;
}

.card-with-hole {
    position: relative;
    background-color: #dfd1ba;
    padding-left: 7rem;
    width: 70%;
    height: 30%;
    left: 10%;
}

.card-with-hole::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 350px;
    height: 350px;
    background-color: #ece1ca;
    border-radius: 50%;
    transform: translateY(-50%) translateX(-20%);
}

.card-with-hole img {
    position: absolute;
    top: 50%;
    left: 0;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    transform: translateY(-50%) translateX(-40%);
}

#cookieMe {
    position: absolute;
    transform: translateX(-35%) translateY(-55%);
    width: 25%;
    height: auto;
}

.dropdown-section {
    margin-bottom: 2rem;
}

.dropdown-content1, .dropdown-content2 {
    max-height: 2.5rem;
    overflow: hidden;
    transition: max-height 1.3s ease;
    opacity: 30%;
}

.dropdown-section:hover .dropdown-content1 {
    max-height: 10rem;
    opacity: 100%;
}

.dropdown-section:hover .dropdown-content2 {
    max-height: 21rem;
    opacity: 100%;
}

.card, h2, h1 {
    transition: transform 0.5s ease;
}

.card:hover, h2:hover, h1:hover {
    transform: scale(1.05);
}

#rotatingCookie {
    display: inline-block;
    animation: rotating 5s linear infinite;
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
